page-leaveapproval {
    .tranperentcolor{
        color:transparent;
        
    }
    .itemBackground{
        background-color
        : #2E2E2E;
    }
    .itemTransperentBackground{
        background-color
        : transparent;
    }
    .itemDeviderColor{
       color: white;
    }
    .itemTextColor{
       color: white;
    }
};