

<ion-content padding >
  <br>
  <br>
  <br>
  <br>
  

<ion-card >
  <ion-card-header>
  <h2 >Approve Leaves</h2>
   <ion-item>
        <button  ion-button icon-only item-left clear (click)="selectAllLeaves()"> 
        <ion-icon *ngIf= "isSelectall == false" name="radio-button-off" item-left></ion-icon>
        <ion-icon *ngIf= "isSelectall == true" name="radio-button-on" item-left ></ion-icon>
         Select All </button>
        <button ion-button icon-only [disabled] = "leavechecked == false" item-right clear (click)="approveBulkLeave()">
        <ion-icon name="checkmark" item-right></ion-icon>
        </button>
        <button ion-button icon-only [disabled] = "leavechecked == false" item-right clear (click)="rejectBulkLeave()">
        <ion-icon name="close" item-right></ion-icon>
        </button>
    </ion-item>

  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
</ion-card>

<ion-list>
  <!--<ion-list-header>
    Approve Leaves
  </ion-list-header>-->
    <!--<ion-row>
      
      
      <button>Approve</button>
      <button>Reject</button>
    </ion-row>-->
  
  <ion-item-sliding #slidingItem *ngFor="let leave of leaveObs let i = index" >
    <ion-item [ngStyle]="{'background-color': leave.selectionColor}" (press)="getEditMode()">
      <p>Employee : {{leave.Employee.Name}}</p>
      <p>Start Date : {{leave.StartDate}}</p>
      <p>End Date : {{leave.EndDate}}</p>
      <p>Number of Leaves : {{leave.NumberOfDays}}</p>
      <p>Reason : {{leave.Reason}}</p>
      <p>Status : Partially Approved</p>
      <p>Approver : </p>
      <p *ngFor="let approver of leave.Approvers">{{approver.Manager}} - {{approver.Status}}</p>
      
    </ion-item>
    <!--<ion-item-divider class="itemDeviderColor"></ion-item-divider>-->
   <ion-item-options side="right">
      <button ion-button >
      <ion-checkbox [(ngModel)]="leave.selected" (click) = "selectLeaveClicked(leave,slidingItem,leavechecked,i)"></ion-checkbox>
      </button>
      <button ion-button color="secondary" (click)="approveLeave(leave,slidingItem)">
        Approve
      </button>
      <button ion-button color="danger" (click)="rejectLeave(leave,slidingItem)">
        Reject
      </button>
    </ion-item-options>
  </ion-item-sliding>
  
 </ion-list>
</ion-content>
