<!--<ion-header>
  <ion-navbar>
    <ion-title>
      My Leaves
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding >
  <br>
  <br>
  <br>
  <br>
  <ion-card>
  <ion-card-header (click)="showMyLeaves()">
   <ion-item>
        My Leaves
        <button ion-button icon-only item-right clear>
        <ion-icon *ngIf= "isShowMyLeave == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf= "isShowMyLeave == true" name="arrow-dropleft" item-right ></ion-icon>
      </button>
      </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="isShowMyLeave == true">
     <ion-row>
      <ion-col width-70>
        <p>Leave Type</p>
        <br>
        <p>Leave</p>
        <br>
        <p>Half Day Leave</p>
        <br>
        <p>Absent</p>
        <br>
        <p>Half Day Absent</p>
        <br>
      </ion-col>
      <ion-col width-15>
        <p>Taken</p>
        <br>
        <p>6</p>
        <br>
        <p>0</p>
        <br>
        <p>0</p>
        <br>
        <p>0</p>
        <br>
      </ion-col>
      <ion-col width-15>
        <p>Balance</p>
        <br>
        <p>7.992</p>
        <br>
        <p>--</p>
        <br>
        <p>--</p>
        <br>
        <p>--</p>
        <br>
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-list-header>
    Leave Status
  </ion-list-header>
  <ion-item-sliding>
    <ion-item>
      <p>Start Date : 30-01-2017</p>
      <p>End Date : 30-01-2017</p>
      <p>Number of Leaves : 1</p>
      <p>Status : Approved</p>
    </ion-item>
   <ion-item-options side="right">
      <button ion-button color="primary">
        Edit
      </button>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <p>Start Date : 15-01-2017</p>
      <p>End Date : 16-01-2017</p>
      <p>Number of Leaves : 3</p>
      <p>Status : Approved</p>
    </ion-item>
   <ion-item-options side="right">
      <button ion-button color="primary">
        Edit
      </button>
    </ion-item-options>
  </ion-item-sliding>

   <ion-item-sliding>
    <ion-item>
      <p>Start Date : 5-01-2017</p>
      <p>End Date : 7-01-2017</p>
      <p>Number of Leaves : 3</p>
      <p>Status : Approved</p>
    </ion-item>
   <ion-item-options side="right">
      <button ion-button color="primary">
        Edit
      </button>
    </ion-item-options>
  </ion-item-sliding>

     <ion-item-sliding>
    <ion-item>
      <p>Start Date : 26-12-2016</p>
      <p>End Date : 27-12-2016</p>
      <p>Number of Leaves : 2</p>
      <p>Status : Approved</p>
    </ion-item>
   <ion-item-options side="right">
      <button ion-button color="primary">
        Edit
      </button>
    </ion-item-options>
  </ion-item-sliding>
 </ion-list>
</ion-content>
