



<ion-content padding>
<br>
<br>
<br>
<br>

<!--<ion-card>
  <ion-card-header>
    Apply Leave
  </ion-card-header>
</ion-card>-->

<ion-card>
  <ion-card-header (click)="showMyLeaves()">
   <ion-item>
        My Leaves
        <button ion-button icon-only item-right clear>
        <ion-icon *ngIf= "isShowMyLeave == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf= "isShowMyLeave == true" name="arrow-dropleft" item-right ></ion-icon>
      </button>
      </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="isShowMyLeave == true">
     <ion-row>
      <ion-col width-70>
        <p>Leave Type</p>
        <br>
        <p>Leave</p>
        <br>
        <p>Half Day Leave</p>
        <br>
        <p>Absent</p>
        <br>
        <p>Half Day Absent</p>
        <br>
      </ion-col>
      <ion-col width-15>
        <p>Taken</p>
        <br>
        <p>{{leaveDetail.LeaveTaken}}</p>
        <br>
        <p>{{leaveDetail.HalfdayLeaveTaken}}</p>
        <br>
        <p>{{leaveDetail.AbsentTaken}}</p>
        <br>
        <p>{{leaveDetail.HalfdayAbsentTaken}}</p>
        <br>
      </ion-col>
      <ion-col width-15>
        <p>Balance</p>
        <br>
        <p>{{leaveDetail.LeaveBalance}}</p>
        <br>
        <p>--</p>
        <br>
        <p>--</p>
        <br>
        <p>--</p>
        <br>
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header (click)="showMyLeaves()">
   <ion-item>
        Active On Projects
        <button ion-button icon-only item-right clear>
        <ion-icon *ngIf= "isShowMyLeave == false" name="arrow-dropdown" item-right></ion-icon>
        <ion-icon *ngIf= "isShowMyLeave == true" name="arrow-dropleft" item-right ></ion-icon>
      </button>
      </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="isShowMyLeave == true">
     <ion-row>
      <ion-col width-50>
        <p>Project</p>
        <br>
        <p>ESPLE COE</p>
      </ion-col>
      <ion-col width-50>
        <p>Manager</p>
        <br>
        <p>Jigar Shaha</p>
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header (click)="showMyLeaves()">
       Leave Details
  </ion-card-header>
  <ion-card-content>

  <form #applyleaveform="ngForm" novalidate>
	 <ion-row>
       <ion-col>
		<ion-list class="list">
      <ion-item>
        <ion-label>Leave Type *</ion-label>
        <ion-select >
          <ion-option value="leave">Leave</ion-option>
          <ion-option value="halfdayleave">Half Day Leave</ion-option>
          <ion-option value="absent">Absent</ion-option>
          <ion-option value="halfdayabsent">Half Day Absent</ion-option>
        </ion-select>
     </ion-item>
			<ion-item>
				<ion-label floating color="primary">Number of Leaves *</ion-label>
				<ion-input  spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
		
			<br>

			<ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY"  (ionChange)="changedStartDate($event)" ></ion-datetime>
      </ion-item>

      <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY"  (ionChange)="changedEndDate($event)"></ion-datetime>
      </ion-item>
	
		
      <ion-item>
        <ion-label>Reason *</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
		</ion-list>
       </ion-col>
	 </ion-row>

		<ion-row>
			<ion-col col-50>
				<button class="applybutton" (click)="onLogin(loginForm)" type="submit" block>Add Leaves</button>
			</ion-col>
      <ion-col col-50>
				<button class="applybutton" (click)="onLogin(loginForm)" type="submit" block>Submit</button>
			</ion-col >
			<!--<ion-col>
				<button ion-button (click)="onSignup()" color="light" block>Signup</button>
			</ion-col>-->
		</ion-row>
	</form>


  </ion-card-content>
</ion-card>




</ion-content>
